---
import Login from '../components/sessions/Login'
import Layout from '../layouts/Layout.astro'
import { checkUserAuth } from './api/auth/checkUser'

let user

try {
  user = await checkUserAuth(Astro.cookies)
} catch (error) {
  console.error(error)
  return Astro.redirect('/signin')
}
---

<Layout title='Your project title'>
  <main class='flex flex-col p-5'>
    <Login client:load />
  </main>
  <slot />
</Layout>
